.popup__button {
  width: min(358px, calc(21.43vw + 169.43px));
  height: min(50.15px, calc(0.74vw + 43.63px));

  margin-left: min(36px, calc(2.5vw + 14px));
  margin-top: 31px;
  margin-bottom: min(36.51px, calc(2.06vw + 18.42px));

  cursor: pointer;

  font-weight: 400;
  font-size: min(18px, calc(0.71vw + 11.71px));
  line-height: min(22px, calc(0.89vw + 14.14px));
  text-align: center;
  color: #ffffff;
  background-color: black;

  transition: opacity linear 0.5s;
}

.popup__button:hover {
  opacity: 0.8;
}
