.post__description{
    background-color: transparent;
    margin-top: 24px;
    margin-left: 21px;
    width: 225px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}